@import './font.css';

@import './color-themes/main-theme.css';
@import './color-themes/dark-theme.css';

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: transparent;
    border: 0;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: var(--additional-color);
  }
}

html {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE и Edge */
  scroll-behavior: smooth;
}

body {
  background-color: var(--dominant-color);
  color: var(--content-color);
}

a {
  position: relative;
  text-decoration: none;
}

button {
  cursor: pointer;
  color: var(--content-color);
}

input {
  &:focus {
    outline: none;
  }
}

li {
  list-style: none;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
}
